/* laptop */
@media (min-width: 992px) {
}

/* desktop */
@media (min-width: 1200px) {
  .col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

  .container {
    max-width: calc(1200px + 30px);
    margin: 0 auto;
    padding: 0 -15px;
  }

  //HEADER

  header .navbar {
    .top-navbar .layout {
      height: $header-top_height-l;

      .actions li {
        margin-right: 30px;

        a {
          display: flex;
          align-items: center;
          font-weight: 400;
          font-size: 14px;
          line-height: 25px;

          .action-descr {
            padding-left: 10px;
            display: block;
            color: $typography-white;
          }
        }
      }

      .lang {
        .dropdown {
          font-size: 14px;
          line-height: 25px;

          svg {
            width: 12px;
            height: auto;
          }
        }
      }
    }
    .main-navbar {
      .layout {
        height: $header-main_height-l;
      }

      .actions {
        display: flex;
        flex-direction: row-reverse;

        .button {
          width: 170px;
          height: 50px;

          &::after {
            content: "Call Us";
            padding-left: 10px;
          }
        }

        .wrapper {
          display: flex;
          margin-left: 0;

          .burger {
            display: none;
          }

          .navigation {
            display: block;
            position: relative;
            top: 0;
            right: 0;
            display: flex;
            align-items: center;
            padding: 0;

            .nav-bar {
              padding: 0;
              width: fit-content;
              height: fit-content;
              background-color: $main-bgr-color;
              flex-direction: row;
              margin-right: 100px;

              .item {
                margin-left: 44px;
                &:first-child {
                  margin-left: 0px;
                }

                a {
                  color: $typography-black-color;
                  opacity: 1;
                  display: flex;
                  line-height: 50px;
                  border-bottom: none;
                  font-weight: 700;

                  .title {
                    margin-right: 5px;
                  }

                  svg path {
                    fill: $typography-black-color;
                  }

                  &:hover {
                    color: $theme-main-color;
                    svg path {
                      fill: $theme-main-color;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  // MAIN GENERAL SECTION

  .general {
    flex-direction: row;
    background: $gradient-horisontal;

    .content {
      width: 50%;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .layout {
        width: calc(600px - 15px);
      }

      .subtitle {
        font-size: 16px;
        margin-top: 0;
      }

      .title {
        // font-size: 45px;
        // line-height: 55px;
        // font-weight: 800;
        margin-top: 10px;
      }

      .paragraph {
        // font-size: 16px;
        // line-height: 30px;
        margin-top: 10px;
        color: $typography-gray;
      }

      .buttons {
        margin-top: 25px;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        .button {
          padding: 13px 20px;
          margin-right: 30px;
          width: auto;
          height: 50px;
          font-size: 18px;

          &:hover {
            @include button-hover;
          }
        }

        .link {
          margin: 0;
          color: $typography-gray;
          font-size: 18px;
          line-height: 25px;
          display: flex;
          align-items: center;

          &::after {
            content: url(../assets/arrow-next-g.svg);
            padding-left: 15px;
            height: 22px;
          }

          &:hover {
            color: $theme-main-color;

            &::after {
              content: url(../assets/arrow-next.svg);
            }
          }
        }
      }

      .tags-s {
        display: none;
      }

      .tags-l {
        display: flex;
        font-weight: 700;
        font-size: 16px;
        text-transform: capitalize;
        margin-top: 30px;

        .tag {
          display: flex;
          align-items: center;
          margin-right: 10px;

          span {
            height: 50px;
            width: 50px;
            line-height: 50px;
            background: $gradient-horisontal-light;
            border-radius: 25px;
            text-align: center;
            margin-right: 10px;
          }
        }
      }
    }

    .image {
      width: 50%;
      padding-top: 46px;
    }
  }


  section {

    .title{
      // font-size: 28px;
      // line-height: 38px;
      // font-weight: 700;
  
      font-size: 45px;
      line-height: 55px;
      font-weight: 800;
  
      span {
        color: $theme-main-color;
      }
    }
  
    .paragraph {
      // font-size: 14px;
      // line-height: 22px;
  
      font-size: 16px;
      line-height: 30px;
      // margin-top: 10px;
    }
  }
  
  .services {
    margin-top: 100px;
  
    .title {
      // text-align: center;
    }
    .paragraph {
      // text-align: center;
      // color: $typography-gray;
      width: 1000px;
      margin: 0 auto;
      
    }
  
    .cards {
      margin-top: 50px;
      // display: flex;
      // flex-wrap: wrap;
      row-gap: 30px;
      // column-gap: 30px;
      // margin: 0 -15px;
      
      // padding: 0 15px;
      .card {
        // display: flex;
        // flex-direction: column;
        // max-width: calc(100% / 4);
        // flex: 0 0 25%;
        // max-width: 25%;
        // margin-bottom: 0;
        
        padding: 60px 42px;
        // box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
        // border-radius: 10px;
        
        &:last-child{
          margin-bottom: 0;
        }
  
        .image {
  
        }
        // .content {
        //   margin-left: 20px;
        //   .title {
        //     text-align: left;
        //     font-weight: 700;
        //     font-size: 16px;
        //     line-height: 22px;
        //     padding-bottom: 10px;
        //   }
  
        //   .description {
        //     text-align: left;
        //     font-weight: 400;
        //     font-size: 14px;
        //     line-height: 22px;
        //     color: $typography-gray;
        //   }
        // }
      }
    }
  }
}


/* desktop - XL */

@media (min-width: 1600px) {
  .general .content {
    .title {
      font-size: 58px;
      line-height: 79px;
      margin-top: 20px;
      
    }

    .paragraph {
      font-size: 18px;
      margin-top: 20px;
    }

    .buttons {
      margin-top: 50px;
    }

    .tags-l {
      margin-top: 50px;
    }
  }
}
