// buttons

@mixin button {
  background-color: $theme-main-color;
  border: 1px solid $theme-main-color;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $main-bgr-color;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

@mixin button-hover {
  background-color: $main-bgr-color;
  cursor: pointer;
  color: $theme-main-color;
  transition: all ease-in-out .2s;
  svg path {
    fill: $theme-main-color;
    transition: all ease-in-out .2s;
  }
}