// theme
$theme-bgr-color: #0c4b35;
$theme-main-color: #00730c;
// $theme-text: #0B0B0B;

// cards and backgrounds colors
$image-color: #c4c4c4;
$main-bgr-color: #ffffff;

// typography
$typography-black-color: #212529;
$typography-white: #ffffff;
$typography-gray: #676767;

// height const

$header-top_height-s: 55px;
$header-top_height-l: 59px;

$header-main_height-s: 70px;
$header-main_height-l: 85px;

// gradients

$gradient-horisontal: linear-gradient(
  79.58deg,
  rgba(0, 115, 12, 0.579) -39.14%,
  rgba(251, 246, 238, 0) 90.23%
);
$gradient-horisontal-light: linear-gradient(
  72.71deg,
  #00730c -83.5%,
  #f9f9f9 93.84%
);
$gradient-vertical: linear-gradient(180deg, #fff8f1 0%, #cbe5ce 100%);

$gradient-b-w: linear-gradient(
  91.27deg,
  #242424 40.01%,
  rgba(36, 36, 36, 0) 67.09%
);
