// theme
$theme-bgr-color: #0c4b35;
$theme-main-color: #00730c;
// $theme-text: #0B0B0B;

// cards and backgrounds colors
$image-color: #c4c4c4;
$main-bgr-color: #ffffff;

// typography
$typography-black-color: #212529;
$typography-white: #ffffff;
$typography-gray: #676767;
