* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: #ffffff;
}
body a {
  text-decoration: none;
}
body li {
  list-style: none;
}

.container {
  padding: 0 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

[class*=col-] {
  padding: 0 15px;
}

header .top-navbar {
  background-color: #0c4b35;
}
header .top-navbar .layout {
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .top-navbar .layout .actions {
  display: flex;
  align-items: center;
  height: 20px;
}
header .top-navbar .layout .actions li {
  margin-right: 20px;
}
header .top-navbar .layout .actions li a {
  display: block;
  height: 100%;
}
header .top-navbar .layout .actions li a .action-img {
  width: 20px;
  height: 20px;
}
header .top-navbar .layout .actions li a .action-descr {
  display: none;
}
header .top-navbar .layout .lang .dropdown {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  cursor: pointer;
}
header .top-navbar .layout .lang .dropdown .text {
  margin-right: 5px;
}
header .main-navbar {
  position: relative;
}
header .main-navbar .layout {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .main-navbar .layout .actions {
  display: flex;
}
header .main-navbar .layout .actions .button {
  background-color: #00730c;
  border: 1px solid #00730c;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-weight: 700;
  padding: 0;
  width: 40px;
  height: 34px;
  font-size: 18px;
  line-height: 24px;
}
header .main-navbar .layout .actions .button:hover {
  background-color: #ffffff;
  cursor: pointer;
  color: #00730c;
  transition: all ease-in-out 0.2s;
}
header .main-navbar .layout .actions .button:hover svg path {
  fill: #00730c;
  transition: all ease-in-out 0.2s;
}
header .main-navbar .layout .actions .wrapper {
  position: relative;
  margin-left: 40px;
}
header .main-navbar .layout .actions .wrapper .burger {
  background-image: url(../assets/burger-menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 30px;
  width: 30px;
  border: none;
  background-color: #ffffff;
}
header .main-navbar .layout .actions .wrapper .burger:hover {
  cursor: pointer;
}
header .main-navbar .layout .actions .wrapper .navigation {
  position: absolute;
  display: none;
  top: 30px;
  right: -15px;
  padding-top: 20px;
}
header .main-navbar .layout .actions .wrapper .navigation .nav-bar {
  padding: 0 15px;
  width: 100vw;
  height: calc(100vh - 55px - 70px);
  background-color: #0c4b35;
  display: flex;
  flex-direction: column;
}
header .main-navbar .layout .actions .wrapper .navigation .nav-bar .item a {
  color: #ffffff;
  opacity: 0.7;
  display: flex;
  align-items: center;
  line-height: 45px;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.3);
  font-weight: 600;
}
header .main-navbar .layout .actions .wrapper .navigation .nav-bar .item a .title {
  margin-right: 8px;
}
header .main-navbar .layout .actions .wrapper .navigation .nav-bar .item a:hover {
  opacity: 1;
  transition: all ease-in-out 0.2s;
}
header .main-navbar .layout .actions .wrapper .navigation .nav-bar .item a:hover svg {
  transform: rotate(180deg);
  transition: all ease-in-out 0.2s;
}
header .main-navbar .layout .actions .wrapper:hover .burger {
  background-image: url(../assets/cancel.svg);
}
header .main-navbar .layout .actions .wrapper:hover .navigation {
  display: block;
}

.main {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.container-fluid {
  width: 100%;
}

.general {
  background: url(../assets/pictures/flower-bg.png) no-repeat, linear-gradient(79.58deg, rgba(0, 115, 12, 0.579) -39.14%, rgba(251, 246, 238, 0) 90.23%);
  background-position: 0 100%;
  display: flex;
  flex-direction: column-reverse;
  color: #212529;
}
.general .content {
  padding: 0 15px;
}
.general .content .subtitle {
  font-weight: 700;
  font-size: 14px;
  margin-top: 48px;
  display: flex;
  align-items: center;
}
.general .content .subtitle::before {
  content: url(../assets/leaves.svg);
  padding-right: 5px;
}
.general .content .title {
  margin-top: 10px;
}
.general .content .paragraph {
  margin-top: 15px;
}
.general .content .buttons {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.general .content .buttons .button {
  background-color: #00730c;
  border: 1px solid #00730c;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-weight: 700;
  padding: 0;
  width: calc(100% - 44px);
  height: 44px;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
}
.general .content .buttons .link {
  margin-top: 19px;
  font-weight: 600;
  font-size: 14px;
  color: #00730c;
}
.general .content .buttons .link::after {
  content: url(../assets/arrow-next.svg);
  padding-left: 10px;
}
.general .content .tags-s {
  display: flex;
  justify-content: flex-end;
  color: #212529;
  margin-bottom: 35px;
  margin-top: 40px;
}
.general .content .tags-s .tag {
  width: calc(50% - 60px);
  height: 32px;
  background: linear-gradient(180deg, #fff8f1 0%, #cbe5ce 100%);
  border-radius: 16px;
  margin-left: 10px;
  font-weight: 400;
  font-size: 10px;
  line-height: 32px;
  text-align: center;
}
.general .content .tags-s .tag span {
  font-weight: 700;
  font-size: 12px;
}
.general .content .tags-l {
  display: none;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

section .title {
  font-size: 28px;
  line-height: 38px;
  font-weight: 700;
}
section .title span {
  color: #00730c;
}
section .paragraph {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.services .title {
  text-align: center;
  margin-bottom: 15px;
}
.services .paragraph {
  text-align: center;
  color: #676767;
}
.services .cards {
  margin-top: 30px;
  row-gap: 20px;
}
.services .cards .card {
  display: flex;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
  border-radius: 10px;
}
.services .cards .card:last-child {
  margin-bottom: 0;
}
.services .cards .card .content {
  margin-left: 20px;
}
.services .cards .card .content .title {
  text-align: left;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  padding-bottom: 10px;
}
.services .cards .card .content .description {
  text-align: left;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #676767;
}

.experience .images {
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.experience .images .bg-rectangle {
  width: 55%;
  height: 63%;
  background: #00730c;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.experience .images .img-main {
  position: relative;
  padding: 12px 42px 0 12px;
  z-index: 10;
  width: 100%;
  margin-bottom: 20.3463203463%;
}
.experience .images .img-front {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 20;
  width: 69.8550724638%;
}
.experience .content .title {
  margin-bottom: 15px;
  margin-top: 30px;
  text-align: center;
}
.experience .content .paragraph {
  color: #676767;
}
.experience .content .paragraph:first-of-type {
  margin-bottom: 22px;
}
.experience .content .cards {
  margin-top: 40px;
  display: flex;
  row-gap: 30px;
}
.experience .content .cards .col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.experience .content .cards .card {
  padding: 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
  border-radius: 5px;
}
.experience .content .cards .card .icon {
  height: 50px;
}
.experience .content .cards .card .text {
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  margin-top: 5px;
  font-weight: 700;
}
.experience .content button {
  margin: 0 auto;
  margin-top: 30px;
  background-color: #00730c;
  border: 1px solid #00730c;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 30px;
}

.why-choose-us {
  background: #0c4b35;
}
.why-choose-us .background {
  background: url(../assets/pictures/pngegg-bg.png) 0 0 no-repeat, url(../assets/pictures/pngegg-bg-1.png) 100% 0 no-repeat;
}
.why-choose-us .layout {
  padding: 50px 0;
}
.why-choose-us .image img {
  width: 100%;
}
.why-choose-us .content {
  margin-top: 30px;
  color: #ffffff;
  text-align: center;
}
.why-choose-us .content .col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.why-choose-us .content .paragraph {
  margin: 30px 0 40px;
}
.why-choose-us .content .tags {
  row-gap: 20px;
}
.why-choose-us .content .tags .tag {
  display: flex;
}
.why-choose-us .content .tags .tag .icon {
  background: #fff url(../assets/tick.svg) no-repeat 50%;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}
.why-choose-us .content .tags .tag .description {
  padding-left: 10px;
}
.why-choose-us .content .button {
  margin: 0 auto;
  margin-top: 30px;
  background-color: #00730c;
  border: 1px solid #00730c;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 30px;
}

.working-process .content {
  padding: 0 15px;
}
.working-process .content .title {
  text-align: center;
}
.working-process .content .paragraph {
  text-align: center;
  color: #676767;
  margin: 15px 0 30px;
}
.working-process .content .cards {
  row-gap: 20px;
}
.working-process .content .cards .card {
  box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
  border-radius: 10px;
  padding: 20px;
  background: url(../assets/pictures/BG-Img-S.png) 85% 50% no-repeat;
}
.working-process .content .cards .card .card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.working-process .content .cards .card .card-header .number {
  color: #e3e3e3;
  font-weight: 800;
  font-size: 45px;
  padding-right: 10px;
}
.working-process .content .cards .card .card-content .text {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}
.working-process .content .cards .card .card-content .description {
  color: #676767;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

/* laptop */
@media (min-width: 780px) {
  .services .col-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .working-process .col-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
/* desktop */
@media (min-width: 1200px) {
  .services .col-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 -15px;
  }
  header .navbar .top-navbar .layout {
    height: 59px;
  }
  header .navbar .top-navbar .layout .actions li {
    margin-right: 30px;
  }
  header .navbar .top-navbar .layout .actions li a {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
  }
  header .navbar .top-navbar .layout .actions li a .action-descr {
    padding-left: 10px;
    display: block;
    color: #ffffff;
  }
  header .navbar .top-navbar .layout .lang .dropdown {
    font-size: 14px;
    line-height: 25px;
  }
  header .navbar .top-navbar .layout .lang .dropdown svg {
    width: 12px;
    height: auto;
  }
  header .navbar .main-navbar .layout {
    height: 85px;
  }
  header .navbar .main-navbar .actions {
    display: flex;
    flex-direction: row-reverse;
  }
  header .navbar .main-navbar .actions .button {
    width: 170px;
    height: 50px;
  }
  header .navbar .main-navbar .actions .button::after {
    content: "Call Us";
    padding-left: 10px;
  }
  header .navbar .main-navbar .actions .wrapper {
    display: flex;
    margin-left: 0;
  }
  header .navbar .main-navbar .actions .wrapper .burger {
    display: none;
  }
  header .navbar .main-navbar .actions .wrapper .navigation {
    display: block;
    position: relative;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    padding: 0;
  }
  header .navbar .main-navbar .actions .wrapper .navigation .nav-bar {
    padding: 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background-color: #ffffff;
    flex-direction: row;
    margin-right: 100px;
  }
  header .navbar .main-navbar .actions .wrapper .navigation .nav-bar .item {
    margin-left: 44px;
  }
  header .navbar .main-navbar .actions .wrapper .navigation .nav-bar .item:first-child {
    margin-left: 0px;
  }
  header .navbar .main-navbar .actions .wrapper .navigation .nav-bar .item a {
    color: #212529;
    opacity: 1;
    display: flex;
    line-height: 50px;
    border-bottom: none;
    font-weight: 700;
  }
  header .navbar .main-navbar .actions .wrapper .navigation .nav-bar .item a .title {
    margin-right: 5px;
  }
  header .navbar .main-navbar .actions .wrapper .navigation .nav-bar .item a svg path {
    fill: #212529;
  }
  header .navbar .main-navbar .actions .wrapper .navigation .nav-bar .item a:hover {
    color: #00730c;
  }
  header .navbar .main-navbar .actions .wrapper .navigation .nav-bar .item a:hover svg path {
    fill: #00730c;
  }
  .main {
    row-gap: 100px;
  }
  .general {
    flex-direction: row;
    background: linear-gradient(79.58deg, rgba(0, 115, 12, 0.579) -39.14%, rgba(251, 246, 238, 0) 90.23%);
  }
  .general .content {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .general .content .layout {
    width: 585px;
  }
  .general .content .subtitle {
    font-size: 16px;
    margin-top: 0;
  }
  .general .content .title {
    margin-top: 10px;
  }
  .general .content .paragraph {
    margin-top: 10px;
    color: #676767;
  }
  .general .content .buttons {
    margin-top: 25px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .general .content .buttons .button {
    padding: 13px 20px;
    margin-right: 30px;
    width: auto;
    height: 50px;
    font-size: 18px;
  }
  .general .content .buttons .button:hover {
    background-color: #ffffff;
    cursor: pointer;
    color: #00730c;
    transition: all ease-in-out 0.2s;
  }
  .general .content .buttons .button:hover svg path {
    fill: #00730c;
    transition: all ease-in-out 0.2s;
  }
  .general .content .buttons .link {
    margin: 0;
    color: #676767;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
  }
  .general .content .buttons .link::after {
    content: url(../assets/arrow-next-g.svg);
    padding-left: 15px;
    height: 22px;
  }
  .general .content .buttons .link:hover {
    color: #00730c;
  }
  .general .content .buttons .link:hover::after {
    content: url(../assets/arrow-next.svg);
  }
  .general .content .tags-s {
    display: none;
  }
  .general .content .tags-l {
    display: flex;
    font-weight: 700;
    font-size: 16px;
    text-transform: capitalize;
    margin-top: 30px;
  }
  .general .content .tags-l .tag {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  .general .content .tags-l .tag span {
    height: 50px;
    width: 50px;
    line-height: 50px;
    background: linear-gradient(72.71deg, #00730c -83.5%, #f9f9f9 93.84%);
    border-radius: 25px;
    text-align: center;
    margin-right: 10px;
  }
  .general .image {
    width: 50%;
    padding-top: 46px;
  }
  section .title {
    font-size: 35px;
    line-height: 45px;
    font-weight: 800;
  }
  section .title span {
    color: #00730c;
  }
  section .paragraph {
    font-size: 16px;
    line-height: 30px;
  }
  .services .title {
    margin-bottom: 30px;
  }
  .services .paragraph {
    width: 1000px;
    margin: 0 auto;
  }
  .services .cards {
    margin-top: 50px;
    row-gap: 30px;
  }
  .services .cards .card {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 42px;
    margin-bottom: 0;
    height: 366px;
  }
  .services .cards .card:last-child {
    margin-bottom: 0;
  }
  .services .cards .card .image {
    width: 70px;
    margin-bottom: 50px;
  }
  .services .cards .card .content {
    margin-left: 0;
  }
  .services .cards .card .content .title {
    text-align: center;
    font-size: 20px;
    line-height: 30px;
  }
  .services .cards .card .content .description {
    text-align: center;
    font-size: 16px;
    line-height: 28px;
  }
  .experience .col-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .experience .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .experience .content .title {
    margin-bottom: 25px;
    margin-top: 0;
    text-align: left;
  }
  .experience .content .paragraph:first-of-type {
    margin-bottom: 20px;
  }
  .experience .content .cards {
    margin-top: 40px;
  }
  .experience .content .cards .card {
    box-shadow: none;
    padding: 15px 0 15px 30px;
    flex-direction: row;
    align-items: center;
  }
  .experience .content .cards .card .text {
    font-size: 24px;
    line-height: 33px;
    margin-top: 0;
    text-align: left;
    margin-left: 20px;
  }
  .experience .content button {
    margin: 0;
    margin-top: 40px;
    font-size: 18px;
    line-height: 24px;
    padding: 13px 35px;
  }
  .experience .content button:hover {
    background-color: #ffffff;
    cursor: pointer;
    color: #00730c;
    transition: all ease-in-out 0.2s;
  }
  .experience .content button:hover svg path {
    fill: #00730c;
    transition: all ease-in-out 0.2s;
  }
  .why-choose-us .layout {
    padding: 100px 0;
  }
  .why-choose-us .col-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .why-choose-us .row-reverse {
    flex-direction: row-reverse;
  }
  .why-choose-us .background {
    background: none;
  }
  .why-choose-us .image {
    display: flex;
    height: 100%;
    align-items: center;
  }
  .why-choose-us .content {
    text-align: left;
  }
  .why-choose-us .content .paragraph {
    margin: 30px 0 50px;
  }
  .why-choose-us .content .tags .tag .description {
    padding-left: 20px;
  }
  .why-choose-us .content .button {
    margin: 0;
    margin-top: 50px;
    font-size: 18px;
    line-height: 24px;
    padding: 13px 35px;
  }
  .why-choose-us .content .button:hover {
    background-color: #ffffff;
    cursor: pointer;
    color: #00730c;
    transition: all ease-in-out 0.2s;
  }
  .why-choose-us .content .button:hover svg path {
    fill: #00730c;
    transition: all ease-in-out 0.2s;
  }
  .working-process .col-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .working-process .content {
    padding: 0;
  }
  .working-process .content .paragraph {
    margin: 20px 0 50px;
  }
  .working-process .content .cards {
    gap: 0;
  }
  .working-process .content .cards .card {
    padding: 50px 30px;
    background: url(../assets/pictures/BG-Img-L.png) 85% 50% no-repeat;
  }
  .working-process .content .cards .card .card-header {
    margin-bottom: 30px;
  }
  .working-process .content .cards .card .card-header .number {
    font-size: 78px;
    padding-right: 0;
  }
  .working-process .content .cards .card .card-content .text {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 33px;
  }
  .working-process .content .cards .card .card-content .description {
    font-size: 18px;
    line-height: 30px;
  }
  .working-process .content .cards .card:hover {
    background: url(../assets/pictures/BG-Img-L-hover.png) 85% 50% no-repeat;
    cursor: pointer;
    background-color: #00730c;
    color: #ffffff;
    transition: all ease-in-out 0.2s;
  }
  .working-process .content .cards .card:hover .card-content .description {
    color: #ffffff;
  }
  .working-process .content .cards .card:hover .number {
    color: #ffffff;
  }
  .working-process .content .cards .card:hover svg path {
    fill: white;
  }
}
/* desktop - XL */
@media (min-width: 1600px) {
  .general .content .title {
    font-size: 50px;
    line-height: 65px;
    margin-top: 20px;
  }
  .general .content .paragraph {
    font-size: 18px;
    margin-top: 20px;
  }
  .general .content .buttons {
    margin-top: 50px;
  }
  .general .content .tags-l {
    margin-top: 50px;
  }
  .services {
    background: url(../assets/bg-leaves.svg) 100% 50% no-repeat;
  }
  .experience {
    background: url(../assets/BG_Img.svg) 0 50% no-repeat;
  }
  .why-choose-us .background {
    background: url(../assets/pictures/pngegg-bg.png) 0 100% no-repeat, url(../assets/pictures/pngegg-bg-1.png) 100% 0 no-repeat;
  }
}/*# sourceMappingURL=style.css.map */